<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil-foto.jfif"
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> shereen, hanna gendi</p>
        <p>full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi debitis blanditiis sunt, sequi labore sit dolorum, perspiciatis ab sed ullam, eum laborum consectetur minus culpa quis dolorem odio quidem facilis.
            </p>
        </span>
    </div>
</div>
