.row{
    background-color: beige;
}

footer{
    
    color: #193f46;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(1, 6, 6);
}
