<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>estudio 1</h1>-
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Aliquid accusantium minima ab labore maxime, obcaecati quia totam culpa et quisquam nam fugit reiciendis corporis magnam modi impedit animi hic assumenda.
            </p>
        </ul>
        <ul>
            <li><h1>estudio 2</h1>-
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Aliquid accusantium minima ab labore maxime, obcaecati quia totam culpa et quisquam nam fugit reiciendis corporis magnam modi impedit animi hic assumenda.
            </p>
        </ul>
        <ul>
            <li><h1>estudio 3</h1>-
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Aliquid accusantium minima ab labore maxime, obcaecati quia totam culpa et quisquam nam fugit reiciendis corporis magnam modi impedit animi hic assumenda.
            </p>
        </ul>
        
    </div>
</div>

