<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="95"
      [radius]="100"
      title="HTML"
      imageSrc="../assets/logo-html.png"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      title="css"
      imageSrc="../assets/css-logo-.png"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
      [percent]="80"
      [radius]="100"
      
      imageSrc="../assets/javascript-logo.png"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
      [percent]="85"
      [radius]="100"
      imageSrc="../assets/github.png"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
      [percent]="50"
      [radius]="100"
      imageSrc="../assets/Python.png"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
      [percent]="85"
      [radius]="100"
      imageSrc="../assets/ingles.png"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>

</div>
