.row{
    padding: 20px;
    background-color: #22969a;
    box-shadow: 2px -2px 5px rgb(192, 240, 240);    
}
.contendor{
    width: auto;

}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow:10px 10px 30px #ade3f1;
    box-shadow: ejex ejev difumasion color;

}
