.row{
    padding: 20px;
}
.row{
    padding: 20px;
    
 }
img{
    width: 140px;
    height: 180px;
}
div{
    background-color: #22969a;
    text-align: center;
}
/* Estilo de la foto de perfil*/
@media(min-width:576px){
   #fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
    left: 3%;
    top: 550px;
   } 
}
@media(max-width:575px){
    #fotodeperfil{
     position: absolute;
     width: 20%;
     border-radius: 100%;
     box-shadow: 3px 3px 3px gray;
     left: 35%;
     top: 880px;
     box-shadow: 2px -2px 5px rgb(192, 240, 240); 
    } 
 }
 

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 15%;
    
} 
